# markdown
## markdown
### markdown

# insert site address
[site](https://mail.google.com/mail/u/0/#inbox)

# insert an image
![site]()

# python basics
python is a beginner's language


python is easy to learn

# creating ordered list
1. abs
2. hgds
   1. a
   2. b

# unordered list
- hskaj
- fjzx
  -hj
  _zx

# bold and italics
**gitam**
*gitam*

In [2]:
# basic hello program
print("hello welcome to gitam !")

hello welcome to gitam !

In [6]:
# variable creation
x=10
y=20
x+y

30

# rules for variable
-  name should be begin with a character
- no special charater allowed expected_

In [10]:
name= "shraavya"
age=20
print("my name is:",name,"age is ",age)

my name is: shraavya age is  20

In [13]:
name = input("enter name")
age = int(input("enter age"))
print("my name is:",name,"age is ",age)

enter nameshraavya
enter age20
my name is: shraavya age is  20

In [27]:
x = int(input("enter a number"))
y = int(input("enter a number"))

print(" addition of two number",x+y)
   
print(" subtraction of two number",x-y)
 
print(" multiplication of two number",x*y)
print(" division of two number",x/y)

enter a number10
enter a number20
 addition of two number 30
 subtraction of two number -10
 multiplication of two number 200
 division of two number 0.5

# fundamental datatypes:
- int
- float
- complex
- boolean
- string

In [31]:
x = 10
y = 23.5
z = 5+12j
t="true"
print(type(x))
print(type(y))
print(type(z))
print(type(t))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [32]:
c=complex(2,5)
print(c)

(2+5j)

In [33]:
c1=3+6j
c2=8+10j
print(c1+c2)
print(c1-c2)
print(c1*c2)
print(c1/c2)

(11+16j)
(-5-4j)
(-36+78j)
(0.5121951219512195+0.10975609756097567j)

In [37]:
a = 6
b = 15
a < b

True

In [38]:
# string 
s1 = "shraavya"
s2 = "shresta"
s3 = "gayu"
print(type(s1))
print(type(s2))
print(type(s3))

<class 'str'>
<class 'str'>
<class 'str'>

In [39]:
i = 100
print(type(i))
s1 = str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [41]:
a="abcd"
print(len(str(a)))

4

In [42]:
n1=200
a=b=c=2000
a1,b1,c1=20,200,2000
print(n1)
print(a,b,c)
print(a1,b1,c1)

200
2000 2000 2000
20 200 2000

# precendence of arth operators
- parenthesis
- power
- multipication
- addition

In [45]:
x=1+2 ** 3 /4 +5
print(x)

8.0

In [47]:
x=(10+20)** 2/10 +5
print(x)

95.0

In [48]:
x=1+2 **2*4/4*5
print(x)

21.0

# operators
- arithemtic
- +
- -
- *
- %
- /
- **
- //

In [4]:
x = int(input("enter a number"))
y = int(input("enter a number"))
print(" addition of two number",x+y)
print(" subtraction of two number",x-y)
print(" multiplication of two number",x*y)
print(" division of two number",x/y)
print(" quoitent of two number",x//y)
print(" power of two number",x**y)
print(" reminder of two number",x%y)

enter a number14
enter a number45
 addition of two number 59
 subtraction of two number -31
 multiplication of two number 630
 division of two number 0.3111111111111111
 quoitent of two number 0
 power of two number 3764970741313956117835509136399237093300229503975424
 reminder of two number 14

# relational operators:
- ==
- !=
- <=
- >=
- <
- >

In [1]:
x = 5
a = x > 10
print(a)

False

In [5]:
i = 100
a1 = (i > 15) and (i > 54)
print(a1)

True

In [8]:
i = 100
a1 = (i > 19) and (i > 54)
a2 = (i > 222) or (i > 175)
print(a1,a2)
print(not i)

True False
False

# membership operator
- in 
- not in

In [10]:
str1 = "abc"
print('a'in str1)
print('a' not in str1)

True
False

# control flow statements
- conditional statements
- looping statements
- if else statements
- syntax
#### if condition
-- statement<br>
#### else
-- statements

In [16]:
#check given number is even or odd
n = int(input ("enter a number"))
if n%2 == 0:
 print("even")
else:
 print("odd")

enter a number20
even

In [18]:
#check given number is mul of 3 or 5
n = int(input ("enter a number"))
if n%3 == 0 and n%5==0:
 print("yes")
else:
 print("no")

enter a number15
yes

In [24]:
  #check given number is positive, negative or zero
    N= int(input("enter a number"))
    if n >0:
        print("positive")
        else n<0:
            print("negative")
             else:
            print("zero")

IndentationError: unexpected indent (<ipython-input-24-fab7fd0d2cef>, line 2)

In [ ]:
#check input year is a leap year or not