# collection of datatypes:
1. list
2. tuple
3. set
4. dictionary

# list
- one of the data structures in python
- data structure means to store,sort and search options
- its one common data structure in python,the items of list separated by comma and enclosed by square brackets
### example
- list1 = [1,2,3,4]
- list2=["gitam",1,2,3]

In [4]:
li = [1,6,16,9,2]
print(li)
print(li[2])
print(li[-3])
print(li[2:])
print(li[2:4])
print(li[-3:-1])

[1, 6, 16, 9, 2]
16
16
[16, 9, 2]
[16, 9]
[16, 9]

In [8]:
li =["gitam",1234,1235,1236,"hyd"]
print(li)
print(li[0][2])

['gitam', 1234, 1235, 1236, 'hyd']
t

In [11]:
del li[3]
print(li)

['gitam', 1234, 1235]

In [12]:
#update
li[1] = 123
print(li)

['gitam', 123, 1235]

In [19]:
# basic list function
li = [1,9,116,25,5]
print(max(li))
print(min(li))
print(sum(li))
print(len(li))
print(sum(li)//(len(li)))

116
1
156
5
31

In [25]:
li = [1,9,116,25,5,9]
li.append(89)
print(li)
li.insert(2,56)
li
li.count(9)
li.index(5)

[1, 9, 116, 25, 5, 9, 89]

5

In [31]:
li = [1,9,116,25,5]
li.sort()
li
li.pop()
li
li.pop(2)
li

[1, 5, 25]

### del-delete the  list from the list
#### pop remove last index value
#### pop(index) - removes the item from specified index

In [36]:
li = [1,9,116,25,5,9]
li1=[76,78,79]
li.extend(li1)
print(li)
li.reverse()
li

[1, 9, 116, 25, 5, 9, 76, 78, 79]

[79, 78, 76, 9, 5, 25, 116, 9, 1]

In [38]:
# function to return the large number from given list
def largenum(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li = [19,1,25,45,76]
print(largenum(li))
print(genericlarge(li,2))

76
45

In [42]:
def smallnum(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n]
li = [19,1,25,45,76]
print(smallnum(li))
print(genericsmall(li,1))

1
19

## tuple
- its one common data structure in python,the items or separated by commas and enclosed by parenthesis()
- example:
- ti =(1,2,3,4)

## list and tuple
- in list are mutable - can be changed/modified
- list used to modify,add,delete,update
- tuple are immutable - cannot be changed
- tuple used access data only

In [43]:
t1 = (1,2,3,4,54)
t1

(1, 2, 3, 4, 54)

# dictionaries
1. it works on concept of set unique data
2. dictionary contains keys and values
3. each key and value separated by comma
4. each key is separated from its value with colon(:)

In [51]:
d1 ={"name" : "gitam","email": "gitam@in" , "address": "hyd"}
d1['name'] = 'shraavya'
d1

{'name': 'shraavya', 'email': 'gitam@in', 'address': 'hyd'}

In [50]:
d1["name"]

'shraavya'

In [52]:
d1['roll no'] = '221710313052'
d1

{'name': 'shraavya',
 'email': 'gitam@in',
 'address': 'hyd',
 'roll no': '221710313052'}

In [53]:
del d1['email']
d1

{'name': 'shraavya', 'address': 'hyd', 'roll no': '221710313052'}

In [54]:
d1.keys()

dict_keys(['name', 'address', 'roll no'])

In [55]:
d1.values()

dict_values(['shraavya', 'hyd', '221710313052'])

In [57]:
d1.items()

dict_items([('name', 'shraavya'), ('address', 'hyd'), ('roll no', '221710313052')])

# strings
.

In [59]:
s1="python"
print(s1)
print(type(s1))

python
<class 'str'>

In [69]:
s1 = "python"
print(s1[0])
print(s1[len(s1)-2])
print(s1[1 :-1])
print(s1[len(s1)//2])
print(s1[::2])
print(s1[::-1])

p
o
ytho
h
pto
nohtyp

# strings build in methods: 
- upper
- lower
- islower
- isupper
- istitle
- isnumeric
- isalpha
- isspace

In [76]:
s1 = 'python'
print(s1.upper())
print(s1.lower())
print(s1.isupper())
print(s1.islower())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())
print(s1.isspace())

PYTHON
python
False
True
False
False
True
False

In [80]:
s1 = ' '
print(s1.isspace())

True

## string methods :
- join()
- split()
- replace()

In [84]:
s1 = "python"
print("!".join(s1))

p!y!t!h!o!n

In [85]:
s1 = "python programming is easy to learn "
print(s1.split())

['python', 'programming', 'is', 'easy', 'to', 'learn']

In [86]:
s1 = "python programming is easy to learn "
print(s1.replace("ing","gitam"))

python programmgitam is easy to learn